.blacklist {
  padding-bottom: 100px;
}

.blacklist__item {
  margin: 0 auto;
  padding: 2vh 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #253153;
  line-height: 44px;
  font-size: 16px;
}

.blacklist__img {
  border-radius: 50%;
}

.blacklist__name {
  flex: 1;
  font-size: 17px;
  margin-left: 12px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.blacklist__name::after {
  position: absolute;
  right: 0;
  content: '';
  height: 100%;
  width: 20%;
  background: linear-gradient(270deg, #10152b 10px, #10152b00);
}

.blacklist__remove {
  margin-left: auto;
}

.blacklist__add {
  margin-left: auto;
}

.blacklist__search {
  padding-top: 3vh;
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  color: #a9b5d0;
}

.blacklist__input {
  flex: 1;
  padding: 15px 10px 15px 47px;
  margin-right: 6px;
  background: #141d35;
  border: 1px solid #313f62;
  border-radius: 7px;
  outline: none;
}

.blacklist__input::placeholder {
  color: #62708f;
  font-size: 14px;
}

@media screen and (max-width: 350px) {
  .blacklist__input::placeholder {
    font-size: 10px
  }
}

.blacklist__label {
  position: absolute;
  width: 27px;
  height: 27px;
  left: 10px;
  background: url(../../../../assets/images/sprite.svg#input-search) no-repeat;
}
