.os-host-scroll {
  margin-top: 2vh;
}

.os-host-scroll-x__item {
  list-style: none;
  padding: 10px 20px 15px 0;
  font-size: 16px;
  font-weight: 300;
}

.os-host-scroll-x__item_active {
  background: linear-gradient(270deg, #fcd43f 0%, #ff9b3a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Rubik-flex';
  font-variation-settings: "wght"500;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
  .os-host-scroll-x__item-active {
    font-family: 'Rubik';
    font-weight: 400;
  }
}

@media not all and (min-resolution:.001dpcm) {
  .os-host-scroll-x__item-active {
    font-family: 'Rubik';
    font-weight: 400;
  }
}

.os-host-scroll-x .os-content {
  display: flex;
  padding-bottom: 15px;
  white-space: nowrap;
}
.os-theme-dark > .os-scrollbar-horizontal, .os-theme-light > .os-scrollbar-horizontal {
  height: 7px;
}

.os-theme-light > .os-scrollbar > .os-scrollbar-track,
.os-theme-light > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  border-radius: 0;
}

.os-theme-light > .os-scrollbar > .os-scrollbar-track {
  background: #313f62;
}

.os-theme-light > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: #a9b5d0;
}