::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik';
  font-weight: 400;
  user-select: none;
  color: #ffffff;
}

span {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-gradient {
  background: linear-gradient(270deg, #fcd43f 0%, #ff9b3a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  width: 100%;
  height: 52px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 17px;
  background: none;
}

.form {
  display: grid;
  row-gap: 2vh;
}

.form__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input {
  width: 100%;
  height: 48px;
  background: #141d35;
  border: 1px solid #313f62;
  border-radius: 7px;
  box-shadow: none;
  outline: none;
  font-size: 15px;
  font-weight: 300;
}

.input::placeholder {
  color: #A9B5D0;
  font-size: 15px;
}

.input__label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input__label input {
  padding: 0 10px 0 40px;
}

.input__label::before {
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  left: 16px;
}

.input-nickname::before {
  width: 12px;
  height: 14px;
  background: url(../images/sprite.svg#form-nickname) no-repeat;
}

.input-password::before {
  width: 12px;
  height: 17px;
  background: url(../images/sprite.svg#form-password) no-repeat;
}

.input-email::before {
  content: '';
  display: block;
  position: absolute;
  width: 18px;
  height: 14px;
  left: 14px;
  background: url(../images/sprite.svg#form-mail) no-repeat;
}

.flag {
  box-shadow: 0 0 0 1px #ffffff;
  border-radius: 50%;
}