.password {
  padding: 22px 0;
}

.password__text {
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.password__btn {
  margin-top: 12px;
  font-size: 15px;
  white-space: nowrap;
}

@media screen and (max-width: 350px) {
  .password__btn {
    font-size: 13px;
  }
}