.signup__btn::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 21px;
  margin: 0 4px -4px 0;
  background: url(../../../assets/images/sprite.svg#enter-icon-gradient) no-repeat;
}