.password {
  padding: 22px 0;
}

.password__text {
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.password__btn {
  margin-top: 12px;
  font-size: 15px;
  white-space: nowrap;
}
.password__header {
  font-size: 32px;
  font-weight: 500;
  font-family: 'Rubik', serif;
  text-align: center;
  margin: 69px auto 22px;
}

.password__description {
  font-family: 'Rubik', serif;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin: 0 20px 32px;
}
.password__btn {
  margin-top: 12px;
  font-size: 15px;
  white-space: nowrap;
}
@media screen and (max-width: 350px) {
  .password__btn {
    font-size: 13px;
  }
}
